* {
    margin: 0;
}

body {
    padding: 1.5rem 0 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: rgb(255,0,212);
    background: linear-gradient(90deg, rgba(255,0,212,1) 0%, rgba(0,221,255,1) 100%);
}

h1 {
    font-size: 4rem;
    color: #fff;
    padding: 25px;
}

p {
    color: #fff;
}

section {
    margin: 1rem;
}

.flex-container {
    display: flex;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: #fff 2px solid;
    border-radius: 2px;
}

a:hover, a:active {
    background-color: #fff;
    color: rgb(255,0,212);
    color: linear-gradient(90deg, rgba(255,0,212,1) 0%, rgba(0,221,255,1) 100%);
    transition: 1s;
}